[run]
source = aiogithubapi

omit =
    # omit tests
    tests/*

    # omit generate
    generate/*

    # omit examples
    example.py

    # omit setup
    setup.py

[report]
exclude_lines =
    if TYPE_CHECKING: