[tool.black]
line-length = 100
target-version = ['py38']
exclude = 'generated'

[tool.isort]
# https://github.com/PyCQA/isort/wiki/isort-Settings
profile = "black"
# will group `import x` and `from x import` of the same module.
force_sort_within_sections = true
known_first_party = [
    "aiogithubapi",
    "tests",
]
forced_separate = [
    "tests",
]
combine_as_imports = true


[tool.pytest.ini_options]
testpaths = [
    "tests",
]
norecursedirs = [
    ".git",
]