[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.poetry]
authors = ["Ludeeus <ludeeus@ludeeus.dev>"]
classifiers = [
  "Intended Audience :: Developers",
  "Natural Language :: English",
  "Topic :: Software Development :: Libraries :: Python Modules",
]
description = "Asynchronous Python client for the GitHub API"
exclude = ['**/__pycache__']
include = ["aiogithubapi", "aiogithubapi.*", "LICENCE.md"]
license = "MIT"
maintainers = ["Ludeeus <ludeeus@ludeeus.dev>"]
name = "aiogithubapi"
readme = "README.md"
repository = "https://github.com/ludeeus/aiogithubapi"
version = "0"

[tool.poetry.dependencies]
python = "^3.8"
aiohttp = "^3.6.1"
backoff = "^1.10.0"

[tool.poetry.dev-dependencies]
aresponses = "^2.1.5"
black = "^22.1.0"
isort = "^5.10.1"
mypy = "^0.931"
pdoc3 = "^0.10.0"
pylint = "^2.13.3"
pytest = "^7.0.1"
pytest-asyncio = "^0.15.1"
pytest-cov = "^3.0.0"



[tool.black]
line-length = 100
target-version = ['py38']
exclude = 'generated'

[tool.isort]
combine_as_imports = true
force_sort_within_sections = true
profile = "black"

[tool.pylint.'MESSAGES CONTROL']
disable = "unsubscriptable-object,duplicate-code"


[tool.coverage.run]
source = ["aiogithubapi"]
omit = ["setup.py", "example.py", "tests/*"]

[tool.coverage.report]
exclude_lines = ["if TYPE_CHECKING:"]